@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Örnek Sitemize Hoş Geldiniz.</h1>
    <p>Bu sitede sizin için hazırladığımız yemek tariflerini yayınlamaktayız.</p>
    <p>Üst menüyü kullanarak veya <a asp-controller="Home" asp-action="Tarifler">buraya</a> tıklayarak yemek tariflerine ulaşabilirsiniz.</p>
</div>
